{% extends 'showcase/base.html' %}
{% load crispy_forms_tags %}
{% load bootstrap4 %}
{% block content %}
<div class="jumbotron">
    <div class="container">
        <div class="col-md-4">
            <ul>
                <img class="rounded-circle account-img" src="{{ user.profile.image.url }}" alt="Image" width="152" height="152">
                <!-- <li><img src="/static/arc-de-triomphe-de-l-etoile-cars-champs-elysees-2344_KyqLy98.jpg" class="reach"><span class="tooltiptext1">{{profiles.contact}}</span></li> -->
                <!-- <li><img src="/static/img/email.png" class="reach"> <span class="tooltiptext1">{{profiles.user.email}}</span></li> -->
            </ul>
            <h3>{{ user.username }}</h3>
            <h3>{{ user.email }}</h3>

            <br>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Profile Info</legend>
                    {{ u_form|crispy }}
                    {{ p_form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Update Info</button>
                </div>
            </form>
        </div>

{% endblock%}